.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-spinner {
  width: 30px;
  height: 30px;
  border: 4px solid #999;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  border-top-color: #333;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loader-container.some-custom-class {
  border-radius: 8px;
  background-color: var(--loader-dark);
}

.loader__test {
  width: 400px;
  height: 400px;
  background-color: red;
}
