.avatar {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ddd;
}

.avatar-img {
  display: block;
  object-fit: cover;
}

.avatar_size-small {
  width: 45px;
  height: 45px;
}

.avatar_size-medium {
  width: 47px;
  height: 47px;
}

.avatar_size-large {
  width: 130px;
  height: 130px;
}
