:root {
  /* Colors */
  --primary-color: #3369f3;
  --gray-color: #1e1e1e;
  --gray-border: #eaeaea;
  --gray-input: #efefef;
  --gray-message-bg: #f8f8f8;
  --red-color: #f00;
  --chat-item-message: #999;
  --sidebar-background: #fbfbfb;
  --active-chat-bg: #e4edfd;

  /* Fonts */
  --base-font-weight: 500;
  --base-font-size: 13px;
  --base-line-height: 100%;
}
