:root {
  --primary-color: #3369f3;
  --gray-color: #1e1e1e;
  --gray-border: #eaeaea;
  --chat-item-message: #999999;
  --sidebar-background: #fbfbfb;

  --base-font-weight: 500;
  --base-font-size: 13px;
  --base-line-height: 100%;
}
