.sidebar {
  width: 310px;
  max-width: 310px;
  border-right: 1px solid var(--gray-border);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  background-color: var(--sidebar-background);
}

.sidebar__profile-link {
  text-align: right; 
  padding-inline: 10px; 
  margin-bottom: 8px;
}

.sidebar__search {
  padding: 10px;
}

.sidebar__chat-list {
  flex-grow: 1;
  overflow-y: auto;
}
