@import './styles/base.pcss';
@import './styles/variables.pcss';

/* Общие */
@import './styles/form-container.pcss';

/* Компоненты */
@import './components/common/Avatar/Avatar.pcss';
@import './components/common/Button/Button.pcss';
@import './components/common/CardTitle/CardTitle.pcss';
@import './components/common/FloatingLabelInput/FloatingLabelInput.pcss';
@import './components/common/Link/Link.pcss';
@import './components/common/Sidebar/Sidebar.pcss';
@import './components/common/SimpleInput/SimpleInput.pcss';
@import './components/common/ChatItem/ChatItem.pcss';
@import './components//common/Message/Message.pcss';

/* Страницы */
@import './pages/LoginPage/LoginPage.pcss';
@import './pages/RegistrationPage/RegistrationPage.pcss';
@import './pages/404/Page404.pcss';
@import './pages/ChatsPage/ChatsPage.pcss';
