@import url('./styles/base.pcss');
@import url('./styles/variables.pcss');

/* Общие */
@import url('./styles/form-container.pcss');

/* Компоненты */
@import url('./components/common/Avatar/Avatar.pcss');
@import url('./components/common/Button/Button.pcss');
@import url('./components/common/CardTitle/CardTitle.pcss');
@import url('./components/common/FloatingLabelInput/FloatingLabelInput.pcss');
@import url('./components/common/Link/Link.pcss');
@import url('./components/common/Sidebar/Sidebar.pcss');
@import url('./components/common/SimpleInput/SimpleInput.pcss');
@import url('./components/common/ChatItem/ChatItem.pcss');
@import url('./components/common/Message/Message.pcss');
@import url('./components/common/SearchInput/SearchInput.pcss');

/* Страницы */
@import url('./pages/LoginPage/LoginPage.pcss');
@import url('./pages/RegistrationPage/RegistrationPage.pcss');
@import url('./pages/404/Page404.pcss');
@import url('./pages/ChatsPage/ChatsPage.pcss');
@import url('./pages/ProfilePage/ProfilePage.pcss');

/* Компоненты для ProfilePage */
@import url('./pages/ProfilePage/components/ProfileAvatar/ProfileAvatar.pcss');
@import url('./pages/ProfilePage/components/ProfileSaveButton/ProfileSaveButton.pcss');
